test.ipynb
.gitignore
experiments/plot_utils/
experiments/transfer/
**/__pycache__/
*nohup*
*wandb*
experiments/length_prompts_analysis/
experiments/length_prompts_analysis_save/
experiments/length_prompts_analysis_save_2/
useless/
storage/
outputs/
slurm_logs/
plots/
outputs/
/envs/
/envs_supervised/
web_agent_site/data
experiments/data/
web_agent_site/search_engine/indexes
web_agent_site/search_engine/indexes_1k
web_agent_site/search_engine/indexes_100
web_agent_site/search_engine/indexes_100k
web_agent_site/search_engine/resources
web_agent_site/search_engine/resources_1k
web_agent_site/search_engine/resources_100
web_agent_site/search_engine/resources_100k
notebooks/*
!notebooks/*.ipynb
/old_slurms/
.idea
.DS_Store

