__pycache__/
useless/
storage/
outputs/
slurm_logs/
plots/
outputs/
/envs/
lamorel/
web_agent_site/data
web_agent_site/search_engine/indexes
web_agent_site/search_engine/indexes_1k
web_agent_site/search_engine/indexes_100
web_agent_site/search_engine/indexes_100k
web_agent_site/search_engine/resources
web_agent_site/search_engine/resources_1k
web_agent_site/search_engine/resources_100
web_agent_site/search_engine/resources_100k
notebooks/*
!notebooks/*.ipynb
/old_slurms/
.idea
.DS_Store

